@{
    ViewData["Title"] = "Proceso Finalizado";
    Layout = "_LayoutUsuario";
}
<h1>@ViewData["Title"]</h1>

<p>El proceso ha culminado.</p>

<div class="col-6">
    <a asp-action="Index" asp-controller="VistaUsuario" type="submit" class="btn btn-outline-primary">Menú Principal</a>
</div>
