<!DOCTYPE html>
<html>
<head>
    <title>Tu página de inicio</title>
    <style>

        body {
            background: rgba(0, 0, 0, 0.5) url("https://www.wallpaperflare.com/static/236/954/327/vinyl-record-music-vector-wallpaper.jpg");
            background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
            background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .image {
            max-width: 50%;
        }

            .image img {
                max-width: 100%;
                height: auto;
            }

        .title {
            text-align: center;
        }

        .button {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="https://store.taylorswift.com/cdn/shop/files/8wU8sU2k4gvB0i8MJ4wakKkWpJwpOpAO-1_800x.png?v=1698180383" alt="Gliss Vinyls">
        </div>
        <div class="title">
            <h1>Gliss Vinyls</h1>
            <div class="button">
                <a href="/VistaUsuario/Index" class="comprar-button">Comprar ahora</a>
            </div>
        </div>
    </div>
</body>
</html>
