<!DOCTYPE html>
<html>
<head>
    <title>Tu página de inicio</title>
    <style>
        body {
            background: rgba(0, 0, 0, 0.5) url("https://i.ibb.co/f852Znr/Copia-de-Dise-o-de-Interfaz-Arteaga-Palacios-Rosero-S-nchez-1.png");
            background-size: cover;
            background-repeat: no-repeat;
            color: white; /* Cambiar el color del texto a blanco */
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .image {
            max-width: 90%;
        }

            .image img {
                max-width: 60%;
                height: auto;
            }

        .title {
            text-align: center;
        }

            .title h1 {
                font-size: 75px; /* Cambiar el tamaño del texto "Gliss Vinyls" */
                color: #89CFF3;
            }

        .button {
            text-align: center;
        }

        /* Estilos para el botón */
        .comprar-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #008CBA; /* Color de fondo del botón */
            color: white; /* Color del texto del botón */
            text-decoration: none;
            border-radius: 5px; /* Bordes redondeados */
        }

            .comprar-button:hover {
                background-color: #005F80; /* Color de fondo cuando el mouse pasa sobre el botón */
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="https://i.ibb.co/brYT9Kg/Frame-9.png" alt="GLISS VINYLS">
        </div>
        <div class="title">
            <h1>Gliss Vinyls</h1>
            <div class="button">
                <a href="/Inicio/IniciarSesion" class="comprar-button">Comprar ahora</a>
            </div>
        </div>
    </div>
</body>
</html>
