@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No tengo políticas juas juas.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zAxmn4ihqNg?si=Ymm1BvXcb2tCRmZH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>